* {
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  font-size: 24px;
}

.quiz {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
}

mat-card {
  margin: auto;
  width: 40rem;
  // background-color: #e00;
  // color: #eee;
}
