h1 {
  font-size: 32px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

a {
  text-align: center;
}

* {
  margin: auto;
  text-align: center;
  padding: 15px;
  background-color: #eee;
}

mat-card {
  width: 40rem;
  background-color: #e00;
  color: #eee;
}

mat-card-title {
  font-size: 32px;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: #e00;
}

mat-card-subtitle {
  background-color: #e00;
  color: #eee;
}

mat-card-content {
  background-color: #e00;
}

button {
  background-color: #000;
}

.welcome {
  display: grid;
}

mat-card-actions {
  background-color: #e00;
}
